<label for="username">Username</label>
<input
  type="text"
  class="mb-4"
  id="username"
  name="{{ form.usernameFieldName }}"
  required
  pattern="\S(.*\S)?"
  maxlength="{{ form.usernameMaxLength }}"
  autocomplete="username"
/>
<label for="password">Password</label>
<input
  id="password"
  class="mb-4"
  type="password"
  name="{{ form.passwordFieldName }}"
  required
  maxlength="{{ form.passwordMaxLength }}"
  minlength="{{ form.passwordMinLength }}"
  autocomplete="{{ passwordAutocomplete }}"
/>
