<div class="js-only pt-4">
  <hr class="mb-4" />
  <div
    id="g_id_onload"
    class="w-full"
    data-client_id="{{google.clientId}}"
    data-login_uri="{{google.loginUri}}"
    data-auto_prompt="false"
  ></div>
  <div
    class="g_id_signin w-full [&>*]:w-full [&>*]:flex [&>*]:justify-center md:[&>*]:justify-start"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left"
  ></div>
</div>
