{{< page}} 
  {{$slot}}
    {{<form}}
      {{$heading}}Create League{{/heading}}
      {{$attributes}}action="/leagues"{{/attributes}}
      {{$inputs}}
        <label for="name">Name</label>
        <input class="mb-4" id="name" name="{{nameFieldName}}" type="text" maxlength="{{nameMaximumLength}}">
        {{< button}} {{$text}}Create{{/text}} {{/button}}
      {{/inputs}}
    {{/form}}
  {{/slot}} 
{{/page}}
