{{< base_layout}} {{$body}}
<header class="container mx-auto">
  <a class="font-bold hover:underline focus:underline" href="/">Zone Blitz</a>
</header>
<main class="container mx-auto">
  <section class="text-center">
    <h1 class="text-8 font-bold">Zone Blitz</h1>
    <p class="text-4">
      A free (as in freedom AND beer!) and open source american football general
      manager simulator, built entirely with and served on web technologies!
    </p>
  </section>
</main>
{{/body}} {{/base_layout}}
