{{< page}} {{$slot}}
<section class="flex flex-col grow justify-center px-4 md:px-0">
  <h1 class="text-8 font-bold text-center">Zone Blitz</h1>
  <p class="text-4 md:text-center">
    A free (as in freedom <span class="font-italic">and</span> beer) and open
    source american football general manager simulator, built entirely with and
    served on web technologies!
  </p>
  {{accountId}}
</section>
{{/slot}} {{/page}}
