{{< base_layout}} {{$body}}
<form method="post">
  <label for="username">Username</label>
  <input
    type="text"
    id="username"
    name="{{ usernameFieldName }}"
    required
    pattern="\S(.*\S)?"
    maxlength="{{ usernameMaxLength }}"
  />
  <label for="password">Password</label>
  <input
    id="password"
    type="password"
    name="{{ passwordFieldName }}"
    required
    maxlength="{{ passwordMaxLength }}"
    minlength="{{ passwordMinLength }}"
  />
  <label for="confirm-password">Confirm Password</label>
  <input
    id="confirm-password"
    type="password"
    name="{{confirmPasswordFieldName}}"
    required
    maxlength="{{ passwordMaxLength }}"
    minlength="{{ passwordMinLength }}"
  />
  <button>Register</button>
</form>
{{/body}} {{/base_layout}}
