{{< page}} {{$body}} {{#error}}
<p>{{error}}</p>
{{/error}}
<form method="post" class="flex flex-col container mx-auto px-4">
  <label for="username">Username</label>
  <input
    type="text"
    class="mb-4"
    id="username"
    name="{{ usernameFieldName }}"
    required
    pattern="\S(.*\S)?"
    maxlength="{{ usernameMaxLength }}"
  />
  <label for="password">Password</label>
  <input
    id="password"
    class="mb-4"
    type="password"
    name="{{ passwordFieldName }}"
    required
    maxlength="{{ passwordMaxLength }}"
    minlength="{{ passwordMinLength }}"
  />
  <label for="confirm-password">Confirm Password</label>
  <input
    id="confirm-password"
    class="mb-4"
    type="password"
    name="{{confirmPasswordFieldName}}"
    required
    maxlength="{{ passwordMaxLength }}"
    minlength="{{ passwordMinLength }}"
  />
  <button>Register</button>
</form>
{{/body}} {{/page}}
