{{< page}} 
  {{$head}}
    <script src="{{ google.scriptSrc }}" async></script>
    <script src="scripts/show-javascript-elements.js" async></script>
  {{/head}} 
  {{$slot}}
    {{<form}}
      {{$heading}}Register{{/heading}}
      {{$inputs}}
        {{>authentication_form}}
        <label for="confirm-password">Confirm Password</label>
        <input
          id="confirm-password"
          class="mb-4"
          type="password"
          name="{{confirmPasswordFieldName}}"
          required
          maxlength="{{ form.passwordMaxLength }}"
          minlength="{{ form.passwordMinLength }}"
          autocomplete="new-password"
        />
        {{< button}} {{$text}}Register{{/text}} {{/button}}
        {{>google_sign_on_button}}
      {{/inputs}}
    {{/form}}
  {{/slot}} 
{{/page}}
